/* Global Section */


@keyframes magnify {
    from {
        font-size: 1rem;
        line-height: 1;
    } to {
        font-size: 3rem;
        line-height: 3;
    }
}

@keyframes flick {
    from {
        color: #fff;
    } to {
        color: #e43f5a;
    }
}

body {
    text-align: center;
    position: relative;
    display: contents;
    font-family: "Montserrat";
    animation: fadeIn 1s linear;
}

h1, h2, h3, li, .weather-container, span {
    color: #fff;
    text-shadow: 3px 5px 3px rgba(44, 44, 44, 0.8);
}

h1 {
    font-size: 7rem;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-family: 'Montez', cursive;
}

.date {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

.hide {
    visibility: hidden;
}

.noshow {
    display: none;
}

input {
    background: none;
    border: none;
    outline: none;
}

input[placeholder] {
    text-align-last: center;
    letter-spacing: 3px;
}

input:hover {
    animation: magnify 1s reverse;
}

/* Weather Section */
.weather-container {
    text-align: left;
    position: absolute;
    left: 45px;
    bottom: 15px;
    text-shadow: none;
    color: #d1d1e2;
    z-index: 1;
    margin-bottom: 0;
    text-align-last: center;
}

.weather-text {
    margin: auto;
    font-size: 1rem;
}

.weather-text span {
    display: inline-block;
    position: absolute;
    bottom: 3px;
}

.weather-text .city {
    left: 10px;
    font-size: 1.2rem;
}

.weather-container img {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0.8;
}

.weather-container img:hover {
    opacity: 1;
}

.weather-text .temperature {
    left: 70px;
    font-size: 1.2rem;
}

.weather-icon {
    position: relative;
    bottom: 15px;
}

.weather-icon img {
    display: inline-block;
    position: relative;
    bottom: 50px;
    font-size: 1rem;
    width: 120px;
}

.change-img {
    position: absolute;
    bottom: 15px;
    text-align: center;
    border-radius: 100%;

}

.change-img button {
    position: relative;
    bottom: 5px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}


/* Ask Name */
.name {
    margin-top: 7%;
}

/* Greeting Section */

.greeting {
    padding: 7% 15% 30px;
}

.greeting h2 {
    display: inline;
}

.greeting button {
    font-size: 10px;
    outline: none;
}

/* Date */


.date {
    border-radius: 10px;
    text-align: center;
    /* background-color: rgba(82, 72, 72, 0.1); */
    padding: 10px 30px;
    margin: 0 auto;
    width: 33%;
}

.red {
    color: #e43f5a;
}

.quarter {
    color: #e1a55c;
}

.half {
    color: #c76049;
}

.three-quarter {
    color: #cb4444;
}

.emergency {
    animation: magnify .5s reverse;
    color: #ee2c2c;

}

/* Image */
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    animation: fadeIn 1s ease-in-out;
}

ul {
    padding: 0;
    list-style: none;
    position: relative;
}

button {
    border: none;
    outline: none;
    border-radius: 20px;
}

i {
    cursor: pointer;
}

.fa-check-circle {
    color: greenyellow;
    padding-left: 10px;
}

.fa-times-circle {
    color: #f43127;
    padding-left: 10px;
}

.fa-undo-alt {
    color: royalblue;
    padding-left: 10px;
}

/* Todo List */
li {
    font-size: 2rem;
}

#pending {
    position: absolute;
    border: 1px solid;
    border-radius: 30px;
    /* background-color: red; */
    left: 100px;
    width: 35%;
    height: 30%;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

#pending span {
    position: absolute;
    left: -5%;
    top: 3%;
    transform: rotate(-28deg);
    background-color: #000;
    padding: 1% 5%;
    border-radius: 20px;
}

#finished {
    position: absolute;
    border: 1px solid;
    border-radius: 30px;
    /* background-color: blue; */
    right: 100px;
    width: 35%;
    height: 30%;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

#finished span {
    position: absolute;
    left: -5%;
    top: 3%;
    background-color: #000;
    padding: 1% 5%;
    transform: rotate(-28deg);
    border-radius: 20px;
}


/* Flicker Effect */
@import url('https://fonts.googleapis.com/css?family=Raleway');

.todo {
  text-align:center;
  margin: 50px auto;
  width: 50%;
  border:none;
  border-radius:20px;
  animation: border-flicker 5s linear infinite;
}

.todo input {
    width: 100%;
    border-radius: 25px;
}

.todo input[placeholder] {
    text-align-last: center;
    color:#000;
    background-color: #fff;
    text-shadow: 3px 5px 3px rgba(128, 128, 128, 0.8);
    font-family: 'Montserrat', sans-serif;
    letter-spacing:10px;
    animation: text-flicker 3s linear infinite;
    line-height: 3;
    border-radius: 25px;
}
@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  33% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  66% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  99% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  
  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  
  19% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  80% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}


/* Change Image */
.change-img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    width: 100px;
}

.change-img {
    display: inline;
}

@media (max-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;     
    }

    .date {
        padding-left: 0;
        padding-right: 0;
    }

    .todo li {
        font-size: 1.2rem;
    }

    .todo input[placeholder] {
        letter-spacing: normal;
        font-size: 0.7rem;
    }


    .weather-container {
        margin-bottom: 0;
        text-align-last: center;
    }

    .weather-text span {
        display: inline-block;
        position: absolute;
        bottom: 3px;
        font-size: 0.8rem;
    }

    .weather-text .city {
        left: 10px;
        font-size: 0.8rem;
    }

    .weather-text .temperature {
        left: 50px;
        font-size: 0.8rem;
    }

    .weather-icon {
        position: relative;
        bottom: 15px;
    }

    .weather-icon img {
        display: inline-block;
        position: relative;
        bottom: 70px;
        font-size: 1rem;
        width: 100px;
    }

    .change-img {
        position: absolute;
        bottom: 15px;
        text-align: center;
        border-radius: 100%;

    }

    .change-img button {
        position: relative;
        bottom: 5px;
        width: 50px;
        height: 50px;
    }

}

@media (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;     
    }

    .date {
        padding-left: 0;
        padding-right: 0;
    }

    .todo li {
        font-size: 1.1rem;
    }

    .todo input[placeholder] {
        letter-spacing: normal;
        font-size: 0.5rem;
    }

    .weather-container {
        margin-bottom: 0;
        text-align-last: center;
    }

    .weather-text span {
        display: inline-block;
        position: absolute;
        bottom: 3px;
        font-size: 0.8rem;
    }

    .weather-text .city {
        left: 10px;
        font-size: 0.8rem;
    }

    .weather-text .temperature {
        left: 50px;
        font-size: 0.8rem;
    }

    .weather-icon {
        position: relative;
        bottom: 15px;
    }

    .weather-icon img {
        display: inline-block;
        position: relative;
        bottom: 70px;
        font-size: 1rem;
        width: 80px;
    }

    .change-img {
        position: absolute;
        bottom: 15px;
        text-align: center;
        border-radius: 100%;

    }

    .change-img button {
        position: relative;
        bottom: 5px;
        width: 40px;
        height: 40px;
    }

}